<style type="text/css">

    .squez-width{
    width: 12%;
    }
    .download-assets {
        margin-top: 32px;
        padding: 16px;
    }
    .download-assets a img{
        width: 140px !important;
    }
    #menu-b{
        display: none;
    }
    .responsive-brand{
        display: block;
    }

</style>

<div class="download-assets">
    <h4>Download app</h4>
    <a target="_blank" href="https://goo.gl/wHux1u">
      <img src="/img/googleplay.png">
    </a>&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="#">
      <img src="/img/coming_soon_appstore.png">
    </a><br><br>
</div>

